*{
	padding: 0;
    margin: 0;
	box-sizing: border-box;
}

body{
    background-image: url(img/wave2.png);
    background-size: cover;
}

li, a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    margin-left: 80px;
}

.logo{
    cursor: pointer;
    align-items: flex-start;
    width: 160px;
    background-size: cover;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 40px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #D2A680, 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-right: 66px;
    margin-left: 106px;
}